<app-header></app-header>
<div class="hero">
  <div class="col1">
    <p class="subtextOne">Take <span class="text">control</span> of your finances<br><br><br><br>Unlock your <span class="text">Future.</span></p>
    <p class="subtextTwo">SpendWise is the app that manages and helps you with your finances,<br><br>using a lot of useful features!</p>
  </div>
  <button class="joinUsBtn" routerLink="/register">Join Us!</button>
</div>


<video class="background-video" [muted]="'muted'" muted autoplay loop>
  <source src="../../../assets/pexels-rodnae-productions-8217055 (1080p).mp4" type="video/mp4">
</video>
