.hero{
  position: relative;
  height: 90vh;
  overflow: hidden;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  color: lime;
}

.subtextOne{
  line-height: 1.2;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 70px;
  margin-top: auto;
  margin-bottom: 0;
}

.subtextTwo{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 100px;
}



.joinUsBtn{
  background-color: transparent;
  color: black;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #00bfff, #00ff00);
  color: #fff;
  border-radius: 30px;
  padding: 8px;
  padding-left: 70px;
  padding-right: 70px;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  transform: scale(1.1);
}
@media (max-width: 480px) {
  .hero{
    .subtextOne{
      line-height: 1.0;
      font-size: 35px;
    }
    .subtextTwo{
      font-size: 15px;
    }
  }
}
